body {
	font-size: 100%;
}
body{
	background-color:#B7DBB9;
}
nav {
	width: 20%;
	float: left;
	padding: 0 .25em;
	background-color:#D17876;
}

nav ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

p {
	margin: 0;
	margin-bottom: 1em;
	color: #2C6730;
}

h2 {
	margin: 0;
	margin-bottom: 1em;
}

#mainColumn {
	margin: 0 auto;
	width: 90%;
}

#content {
	float: left;
	width: 75%;
	padding: 0 1em;
}
#content figure {
	float: right;
	margin: 0 1em;
}
h1{
	color:#0D4210;
}
h2{
	color:#5DA462;
}
